.todo{
    display: flex;
    flex-direction: column;
}

.todoInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.todoTexto{
    width: 50%;
    overflow-wrap: break-word;
}

.botonEditar{
    background-color: #FAF6C8;
    border: none;
    color: #FAAFC9;
    margin-right: 2px;
    text-shadow: 0 1px #000;
}
.botonEliminar {
    background-color: #FAF6C8;
    border: none;
    color: #FAAFC9;
    text-shadow: 0 1px #000;
}

.button{
    background-color: #FAF6C8;
    border: none;
    color: #FAAFC9;
    text-shadow: 0 1px #000;
}

.todoUpdate{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
